# Ignorar entornos virtuales
env/
venv/
.venv/

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar logs
flask_service.log

# Ignorar archivos de dependencias de pip
pip-log.txt

# Ignorar archivos de configuración de IDEs
.vscode/
.idea/
